.container {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.wrapper {
    animation: shown 1s ease-out;
    height: 5rem;
    background-color: var(--third-color);
    color: var(--white-color);
}

.wrapper h1,
.wrapper h2 {
    padding: 0 2rem;
    font-weight: 500;
}

@media screen and (max-width: 450px) {
    .wrapper h1 {
        display: none;
    }

    .container {
        justify-content: flex-end;
    }

}