.wrapper {
    animation: shown 1s ease-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    background-color: var(--third-color);
    color: var(--white-color);
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
}

.wrapper h1,
.wrapper h2 {
    padding: 0 2rem;
}

@media screen and (max-width: 450px) {

    .wrapper h1,
    wrapper h2 {
        padding: 0 1rem;
    }
}