.top {
    text-align: center;
    text-transform: capitalize;
    color: var(--dark-color);
    margin-bottom: 1rem;
}

.body {
    width: 30rem;
    min-height: 25rem;
    border: 3px solid var(--secondary-color);
    border-radius: var(--radius);
    background-color: var(--white-color);
    box-shadow: var(--shadow);

    font-size: 1.375rem;
    text-align: center;

    padding: 1rem 2rem;
    user-select: none;
}

@media screen and (max-width: 600px) {
    .body {
        width: 100%;
        margin: 1rem;
    }
}