.top {
    text-align: center;
    text-transform: capitalize;
    color: var(--dark-color);
}

.body {
    width: 22rem;
    min-height: 19rem;
    border: 3px solid var(--secondary-color);
    border-radius: var(--radius);
    background-color: var(--white-color);
    box-shadow: var(--shadow);

    padding: 2rem 1rem;
    margin: 0 auto;

    font-size: 1.375rem;
    text-align: center;
}

.wordNotSelected {
    cursor: pointer;
    display: inline-block;
    font-size: 1.5rem;
    margin: 1rem;
    color: var(--dark-color);
}

.wordSelected {
    composes: wordNotSelected;
    color: var(--third-color);
}

@media screen and (max-width: 450px) {
    .body {
        width: 100%;
        margin: 1rem;
    }
}